<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LateShiftTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
      <LateShiftTool.Properties.Settings>
        <setting name="LogFilename" serializeAs="String">
          <value>C:\Program Files (x86)\Steam\SteamApps\common\Late Shift\LateShift_Data\output_log.txt</value>
        </setting>
        <setting name="Multiplier" serializeAs="String">
          <value>2.0</value>
        </setting>
        <setting name="MoveToViewed" serializeAs="String">
          <value>True</value>
        </setting>
      </LateShiftTool.Properties.Settings>
    </userSettings>
</configuration>